**/QuantumPartonShower_ReM_2step_hardcode_old.py
**/QuantumPartonShower_single_hRegcl_repackaged.py 
**/plotting_old.py
**/quantum_counts**
**/quantum_0**
**quantum_1**
**/shots=1000**
**/shots=10000**
**/gate_count_prototype.pdf
**/__pycache__/
.DS_Store
.ipynb_checkpoints/
__pycache__/*
PaperPlots/__pycache__/*
old_qps_files/*
old_qps_hardcode_files/*
oldplotswithbar/*
PaperPlots/test_alpha00.pdf
PaperPlots/test_alphaINF_0.pdf
